# --- Configuration du Serveur de Jeu ---
PORT=8080
T4C_DB=game.db
T4C_START_GOLD=25

# --- Configuration de l'intégration Discord ---
# Token secret de ton Bot Discord (pour l'écoute Discord -> Jeu)
DISCORD_BOT_TOKEN="ton_token_de_bot_secret_ici"

# IDs des salons Discord (pour l'écoute Discord -> Jeu)
DISCORD_CHANNEL_GENERAL="id_du_salon_discord_general"
DISCORD_CHANNEL_AIDE="id_du_salon_discord_aide"
DISCORD_CHANNEL_VENTES="id_du_salon_discord_ventes"
DISCORD_CHANNEL_ROLEPLAY="id_du_salon_discord_roleplay"

# Webhooks Discord (pour l'envoi rapide Jeu -> Discord)
DISCORD_WEBHOOK_GENERAL="https://discord.com/api/webhooks/..._general"
DISCORD_WEBHOOK_AIDE="https://discord.com/api/webhooks/..._aide"
DISCORD_WEBHOOK_VENTES="https://discord.com/api/webhooks/..._ventes"
DISCORD_WEBHOOK_ROLEPLAY="https://discord.com/api/webhooks/..._roleplay"
